<%= form_for(@contact, :html => { :class => "form_stacked" }) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	
	<form action="" class="form">
      <fieldset>
        <legend>Make Contact...</legend>
        <div class="clearfix">
          <label for="xlInput3">Your Name</label>
          <div class="input">
              <%= f.text_field :name , :class=>"xlarge" , :size=>"30" %>
          </div>
        </div><!-- /clearfix -->

        <div class="clearfix">
          <label for="xlInput3">Email</label>
          <div class="input">
		    <%= f.text_field :email , :class=>"xlarge" , :size=>"30" %>
          </div>
        </div><!-- /clearfix -->

        <div class="clearfix">
          <label for="xlInput3">Phone</label>
          <div class="input">
		    <%= f.text_field :phone %>
          </div>
        </div><!-- /clearfix -->

        <div class="clearfix">
          <label for="comments">Questions or comments</label>
          <div class="input textarea span5">
		    <%= f.text_area :comments ,  :class=>"xxlarge" ,  :rows => '7', %>
          </div>
        </div><!-- /clearfix -->

        <div class="clearfix">
          <label for="stackedSelect">Referred by</label>
          <div class="input">
		    <%= f.select :reference , reference_choices %>
          </div>
        </div><!-- /clearfix -->
      </fieldset>
      <div class="actions">
        <button type="submit" class="btn success">Send</button>&nbsp;<a class="btn info" href="/">Cancel &raquo;</a>

      </div>
    </form>


	<% end -%>

